@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .container {
    max-width: 1140px;
    width: 90%;
    margin: auto;
    overflow: hidden !important;
  }
}

@layer utilities {
  .button {
    @apply bg-gradient-to-r from-lime-green to-bright-cyan font-publicSans text-white rounded-full px-7 py-3 font-semibold;
  }

  .link {
    @apply font-publicSans;
  }
}
